#tit {
    font-family: 'Yellowtail', cursive;
}

header {
    content: " ";
    display: block;
    border-bottom: 10px solid #000000;
    margin-top: 30px;
}

body {
    font-family: 'Noto Serif', serif;
    width:960px;
    margin: auto;
}

.right{
    float: right;
}
    
header h1{
    margin-left: 50px;
    position: relative;
    bottom: 58px;
    font-size: 30px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 0px;

}

header h3{
    margin-left: 50px;
    position: relative;
    bottom: 85px;
}

#logo{
    width: 50px;
    height: 50px;
}
h3 {
    text-transform: uppercase;
    color: grey;
    font-family: 'Strait', sans-serif;
}
#block {
    display: block
}
#cont{
    position: relative;
}

.recipes{
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: transparent;
    padding-right: 20px;
    margin-left: 180px;
    margin-bottom: 50px;
    
}
  
  .list{
    float: left;
    list-style-type:square;
}

p{
    max-width: 900px;
}

main {
    border-bottom: 10px solid black;
}

footer img {
    float: left;
    clear: both;
}



#copyright {
    margin-top: 150px;
    text-align: center;
    color: grey;
}


footer button {
    background-color:darkred;
    color: white;
    height: 50px;
    width: 200px;
    float: right;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    clear: both;
}

  
#footLogo { 
    position: relative;
    margin-left: 450px;
}